.page-home {
  margin-top: 65px;
  overflow-x: hidden;
  overflow-y: hidden;
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }

  .store-trend-categories {
    margin-top: 30px;
  }

  .store-new-product {
    margin-top: 10px;
    background-color: #b9d5cf;
  }
}

.navbar-nav {
  font-size: 14px;
}
